<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="dark" start>
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Galeria
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="tertiary" end>
        Avançar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img class="image-start" src="../../assets/imgs/avengers_03.jpg">
  <ion-grid class="images">
    <ion-row>
      <ion-col size="4">
        <img src="../../assets/imgs/avengers_01.jpg">
      </ion-col>
      <ion-col size="4">
        <img src="../../assets/imgs/avengers_02.jpg">
      </ion-col>
      <ion-col size="4">
        <img src="../../assets/imgs/avengers_03.jpg">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <img src="../../assets/imgs/avengers_04.jpg">
      </ion-col>
      <ion-col size="4">
        <img src="../../assets/imgs/avengers_05.jpg">
      </ion-col>
      <ion-col size="4">
        <img src="../../assets/imgs/avengers_06.jpg">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <img src="../../assets/imgs/avengers_07.jpg">
      </ion-col>
      <ion-col size="4">
        <img src="../../assets/imgs/avengers_08.jpg">
      </ion-col>
      <ion-col size="4">
        <img src="../../assets/imgs/avengers_09.jpg">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
