ion-content ion-toolbar {
  --background: translucent;
}

ion-grid {
  padding: 15px;
}

img {
  width: 100%;
  height: 100%;
}

.images {
  padding: 0px;
}

.image-start {
  width: 100%;
  height: 50%;
}